<div style="margin-left: 40px; margin-right: 40px; margin-top: 20px; margin-bottom: 20px">
  <h2>Pilots</h2>

  <h3>Remaining budget :</h3>
  <h3 class='remaining-buget'>100</h3>
  <h5 class='error-budget'></h5>

  <h3>Players to pick :</h3>
  <h3 class='remaining-players'>5</h3>
  <h5 class='error-players'></h5>

  <h3>Constructor to pick :</h3>
  <h3 class='remaining-constructor'>1</h3>
  <h5 class='error-constructors'></h5>

  <table>
    <% @players.each do |player| %>
      <tr class="clickable">
        <td><p><%= player.first_name %></p></td>
        <td><p><%= player.last_name %></p></td>
        <td><p class="price"><%= player.price %></p></td>
        <td><p class="constructor"><%= player.is_constructor %></p></td>
      </tr>
    <% end %>
  </table>
</div>
